
<div class="twopeople">
  <div class="container" style="height:215px">
    <canvas class="illo" width="1600" height="1600" style="max-width: 200px; max-height: 200px; touch-action: none; width: 800px; height: 800px;"></canvas>
  </div>
</div>


<script src="/js/celeste/celeste-script-1.js"></script>
<script src="/js/celeste/zdog.dist.js"></script>
<script id="rendered-js" src="/js/celeste/celeste-script.js"></script>