// hide side bar on mobile
+tablet-mobile() {
  .sidebar-toggle, .sidebar {
    display: none;
  }
}

// disable text in archive
.archive .collection-title {
  display: none !important;
}

// background image setting
body {
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}