$tag-cloud-start      = #aaa;
$tag-cloud-end        = #111;
$tag-cloud-start-dark = #555;
$tag-cloud-end-dark   = #eee;

$border-radius-inner     = 20px 20px 20px 20px;
$border-radius           = 20px;